html {
    font-size: 13px;
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

* {
    font-family: 'Cascadia Code', sans-serif;
    font-style: normal;
    font-weight: 400;
}
