<div class="row">
    <h1 class="text-center" style="font-size: 245px;">404</h1>
    <div class="row">
        <div style="margin-left: 50%">
            <a class="btn btn-outline-success text-center"
               asp-controller="@eticket.Helper.ControllerHelper.GetControllerName(typeof(eticket.Controllers.MoviesController))"
               asp-action="@nameof(eticket.Controllers.MoviesController.Index)">
                Home Page
            </a>
        </div>
    </div>
</div>